.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to right, #5cdb95, #91e1a0, #b7e7b1, #d5eec7, #edf5e1);
    padding: 30px;
    border-radius: 30px;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 25px;
   border: #05386b 0px solid;

  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #05386b;
    border-radius: 20px;
    cursor: pointer;

  }

  .login div {
    margin-top: 7px;
  }



  .register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to right, #5cdb95, #91e1a0, #b7e7b1, #d5eec7, #edf5e1);
    padding: 30px;
    border-radius: 30px;
  }
  .register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 25px;
   border: #05386b 0px solid;
  }
  .register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #05386b;
    border-radius: 20px;
    cursor: pointer;
  }
  .register__google {
    background-color: #4285f4;
  }
  .register div {
    margin-top: 7px;
  }


  .dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    padding: 30px;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #05386b;
    border-radius: 20px;
    cursor: pointer;

  }
  .dashboard div {
    margin-top: 7px;
  }




  .reset {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to right, #5cdb95, #91e1a0, #b7e7b1, #d5eec7, #edf5e1);
border-radius: 30px;
    padding: 30px;
  }
  .reset__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .reset__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #05386b;
    border-radius: 20px;
    cursor: pointer;
    border: #05386b 0px solid;
  }
  .reset div {
    margin-top: 7px;
  }

  th, td {
    padding: 0px 40px;
    
  }

  table {
     box-shadow: 5px 10px #888888;
     background-color: #8ee4af;
     border-radius: 5px;
  }